@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-zoom.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-share.css');

* {
    box-sizing: border-box;
}

body {
    background: #03001e;
    font-family: Garamond, serif;
    margin-right: 20px;
    margin-left: 20px;
    padding: 0;
    color: white;
}

.dir {
    text-decoration: underline;
    color: white;
}

.dir:hover { 
    color: #5b0f66;
}

.navbar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #2d0333;
    margin-top: -10px;
    margin-left: -20px;
    margin-right: -20px;
}

.navitemleft {
    float: left;
}

.navitemright {
    float: right;
}

li a {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

li a:hover {
    color:white;
    background-color: #220426;
}

.navimg {
    height:20px;
    width:20px;
    object-fit: contain;
    margin-bottom: -7px;
}

.main {
    font-size: 35px;
    color: white;
    border: 3px solid white;
    border-radius: 4px;
    font-weight: bold;
    line-height: 33px;
    margin-bottom: 10px;
    text-align: center;
}

.header-caption {
    margin-top: -5px;
    text-align: center;
}

.featured {
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid white;
    border-radius: 2px;
    padding: 6px;
}

.featured h2 {
    margin-top: 0;
    font-size: 25px;
    font-weight: bold;
}

.featured p {
    margin-top: 0;
    margin-bottom: 5px;
}

.featured-img {
    width: 80%;
    object-fit: contain;
    border: 1px solid white;
}

.featured-artist {
    width: 35%;
    object-fit: contain;
    border: 1px solid white;
}

.row {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
}

.row h2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid white;
}

.sub-section-left {
    border: 1px solid white;
    padding: 3px;
    float: left;
    flex: 1;
    margin-right: 10px;
}

.sub-section-left p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.sub-section-right {
    border: 1px solid white;
    padding: 3px;
    float: right;
    flex: 1;
}

.sub-section-right p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.gallery {
    border: 1px solid white;
    border-radius: 2px;
    padding: 3px;
    text-align: center;
    margin-bottom: 10px;
}

.gallery-item {
    margin: 4px 2px 4px 2px;
}

.artist {
    border: 1px solid white;
    border-radius: 2px;
    padding: 3px;
    text-align: center;
    margin-bottom: 10px;
}

.artist h2{
    margin-top: 0;
    font-size: 20px;
}

.artist p {
    margin-top: -15px;
}

.news-section {
    border: 1px solid white;
    border-radius: 2px;
    padding: 3px;
    text-align: center;
    margin-bottom: 10px;
}

.sub-header {
    border-bottom: 1px solid white;
    margin-top: 0;
    padding-bottom: 3px;
}

.req-form {
    border: 1px solid white;
    border-radius: 2px;
    padding: 3px;
    text-align: center;
    margin-bottom: 10px;
}

.input-section{
    margin-bottom: 5px;
}

.input-section label {
    font-weight: bold;
}

.input-section textarea {
    resize: vertical;
    min-height: 40px;
}

.input-section select {
    background-color: #5b0f66;
    color: white;
    padding: 8px 16px 8px 10px;
    text-align: center;
    border: 2px solid white;
    border-radius: 4px;
}

.input-section select option:hover {
    background-color: #37073d
}

button {
    background-color: #5b0f66;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
}

button:hover {
    background-color: #37073d;
    color: #f4ebf5;
    border-color: #f4ebf5;
}
